name: frontend

on:
  push:
    branches:
      - master
    paths:
      - "frontend/**"
  pull_request:
    paths:
      - "frontend/**"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm install --workspace=frontend

      - name: Run ESLint on frontend
        run: npm run lint --workspace=frontend
